[submodule "jaeger-example"]
	path = jaeger-example
	url = https://github.com/chronosphereio/jaeger-example
	branch = r/kubecon_talk_demo
[submodule "grafana"]
	path = grafana
	url = https://github.com/chronosphereiox/grafana
	branch = gg/traceid-support-kubecon
