[submodule "grafana"]
	path = grafana
	url = https://github.com/chronosphereiox/grafana
	branch = gg/traceid-support-kubecon
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/chronosphereiox/prometheus
	branch = kubecon_demo
[submodule "m3"]
	path = m3
	url = https://github.com/chronosphereiox/m3
	branch = kubecon_demo
[submodule "jaeger-example"]
	path = jaeger-example
	url = https://github.com/chronosphereiox/jaeger-example.git
